.movie-card {
    @include card-design();

    &:hover {
        transform: scale(1.05);
    }

    .star {
        position: absolute;
        left: 80%;
        top: 3.5%;
        z-index: 1;
        &:hover {
            transform: scale(1.1);
        }
    }
}