header {
        align-items: center;
        background-color: $baby;
        border-bottom: 3px solid $ground;
        display: flex;
        justify-content: space-between;
    h1 {
        color: $cream;
        font-size: 250%;
        height: 90px;
        justify-content: flex-start;
        padding-top: 20px;
        padding-left: 150px;
    }
    .signup {
        color: $cream;
        cursor: pointer;
    }
}

.home-direct {
    text-decoration: none;
}