header {
    h1{
        align-items: center;
        background-color: lightgrey;
        color: #FFF;
        display: flex;
        height: 90px;
        justify-content: flex-start;
        padding-left: 150px;
    }
}