.sign-up-form {
    form {
        display: flex;

        input {
            border: 0;
            background-color: #a5a9d3;
            height: 25px;
            &:focus {
                outline: none;
            }
        }

        label {
            color: $cream;
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }

        button {
            @include btn-design();
            margin: 23px 20px 0 0;
        }
    }
}