.login-form {
    form {
        display: flex;

        input {
            background-color: #a5a9d3;
            border: 0;
            font-size: 12px;
            height: 25px;
            margin-top: 4px;
            text-indent: 6px;
            &:focus {
                outline: 0;
            }
        }

        label {
            color: $cream;
            display: flex;
            flex-direction: column;
            margin-right: 20px;
        }
    }
}

.pointer {
    cursor: pointer;
    color: $cream;
}

.login-btn {
    @include btn-design();
}