.user-display {
    margin-right: 40px;
}

.user-welcome {
    color: $cream;
    font-size: 120%;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 12px;
}

.user-options {
    color: $cream;
    a {
        text-decoration: none;
        font-size: 110%;
        
        &:hover {
          color: red;
          cursor: pointer;
        }
        &:visited {
          color: $cream;
        }
        &:active {
          color: $cream;
        }
        &:hover {
          color: $cream;
        }
      }
}